<link rel="stylesheet" href="/css/header.css">
<header class="header-wrapper">
	<h1 class="logo">
		<a href="/">LOGO</a>
	</h1>
	<div class="navi-wrap">
		<a href="/gallery" class="navi">GALLERY</a>
		<a href="/gbook" class="navi">GUEST BOOK</a>
	</div>
</header>